.bd-example {

}
.carousel_diadiem {
  .icon_both_carousel {
    position: absolute;
    bottom: 100px;
    max-width: 320px;
    width: 100%;
    left: 30px;
    z-index: 9;
    img {
      display: block;
      &:last-child {
        float: right;
      }
    }
  }
  .carousel-item {
    color: #000;
    .carousel-caption {
      color: #000;
      position: static;
    }
  }
  .content_carousel_diadiem {
    display: flex;
    align-items: center;
    .pic {
      max-width: calc(100% - 400px);
      width: 100%;
      //transform: translateX();
      img {
        display: block;
        width: 100%;
      }
    }
    .carousel-caption {
      max-width: 400px;
      width: 100%;
      order: -1;
      padding: 0px 40px 0px 40px;
      h2 {
        font-size: 36px;
        margin-bottom: 20px;
      }
    }
  }
  .carousel-indicators {
    //border: solid 1px red;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    width: 26px;
    z-index: 9;
    left: 440px;
    top: 0px;
    margin: 0px;
    align-items: center;
    justify-content: center;
    li {
      display: block;
      clear: both;
      margin-bottom: 10px;
      width: 15px;
      height: 15px;
      border: solid 2px #000;
      border-radius: 100%;
      &:last-child {
        margin-bottom: 0px;
      }
      &.active {
        background: #00ADEE;
      }
    }
  }
}